.git
networks
output
Infomap
Informatter
build
.vscode
.project
.cproject
.settings
examples/cpp/minimal/example
examples/cpp/minimal/mem-example
examples/cpp/minimal/multi-example
examples/cpp/igraph/example-igraph
examples/cpp/Infomap-igraph-interface-library/build
examples/cpp/Infomap-igraph-interface-library/include
examples/cpp/Infomap-igraph-interface-library/lib
examples/cpp/minimal/example.dSym
examples/python/infomap
examples/R/infomap
examples/R/\.Rhistory
examples/js/Infomap-worker.js
examples/js/Infomap.js
.ipynb_checkpoints
Infomap.dSym
callgrind.*
tmp
.rstudio
.gitignore
.dockerignore
.Dockerfile
docker-compose.yaml