.DS_Store
.idea/
.ipynb_checkpoints/
.vscode/
.project
.cproject
.settings/
cmake-build-*/

__pycache__/
node_modules/
*.dSYM
callgrind.*

/Infomap
/build/
/dist/
/include/
/lib/
/networks/
/output/
/package/
/*.egg-info

/README.md
/npm-pack.json
/mapequation-infomap-*.tgz

docs/.buildinfo
examples/R/.Rhistory
examples/R/infomap/
examples/js/index.js
examples/python/output/
examples/cpp/minimal/example
examples/cpp/minimal/*-example
examples/cpp/igraph/example-igraph
examples/cpp/Infomap-igraph-interface-library/build/
examples/cpp/Infomap-igraph-interface-library/include/
examples/cpp/Infomap-igraph-interface-library/lib/

*.clu
*.tree
!test/fixtures/clusters/*.clu
!test/fixtures/clusters/*.tree
*.ftree
*.nwk
*.csv
/*.net
