include README.rst
include LICENSE_GPLv3.txt
include scripts/build_config.py
recursive-include src *.cpp *.h
recursive-include interfaces/python/generated *.cpp
recursive-include interfaces/python/src *.py
