name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  release:
    name: ${{ matrix.config.os }}${{ matrix.target.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
              name: windows,
              os: windows-2025,
              artifact: "infomap-win",
              binary: Infomap.exe,
              cxxflags: -static,
              ldflags: -static,
              compiler: g++,
            }
          - {
              name: ubuntu,
              os: ubuntu-24.04,
              artifact: "infomap-ubuntu",
              binary: Infomap,
              cxxflags: "",
              ldflags: "",
              compiler: g++,
            }
          - {
              name: macos,
              os: macos-15,
              artifact: "infomap-mac",
              binary: Infomap,
              cxxflags: "-I /usr/local/include -I/usr/local/opt/llvm/include",
              ldflags: "-L /usr/local/lib -L/usr/local/opt/llvm/lib",
              compiler: clang++,
            }
        target:
          - { name: "", target: "" }
          - { name: "-noomp", target: "noomp" }

    steps:
      - uses: actions/checkout@v4

      - if: startsWith(matrix.config.os, 'macos')
        run: |
          brew install p7zip llvm libomp
          export PATH="$(brew --prefix llvm)/bin:$PATH"

      - run: make -j ${{ matrix.target.target }}
        shell: bash
        env:
          CXX: ${{ matrix.config.compiler }}
          CXXFLAGS: ${{ matrix.config.cxxflags }}
          LDFLAGS: ${{ matrix.config.ldflags }}

      - run: ./Infomap --version
        shell: bash
