name: Publish Python Package

on:
  release:
    types: [created]

  workflow_dispatch:

jobs:
  swig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt update
          sudo apt-get install -y swig
      - run: make py-swig
      - uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: swigfiles
          path: build/py/

  build:
    needs: swig
    name: build (${{ matrix.config.name }}, ${{ matrix.python-version }})
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
              name: windows,
              os: windows-latest,
              cxxflags: -static,
              ldflags: -static,
              compiler: g++,
            }
          - {
              name: ubuntu,
              os: ubuntu-latest,
              cxxflags: "",
              ldflags: "",
              compiler: g++,
            }
          - {
              name: macos,
              os: macos-latest,
              cxxflags: "-I /usr/local/include -I/usr/local/opt/llvm/include",
              ldflags: "-L /usr/local/lib -L/usr/local/opt/llvm/lib",
              compiler: clang++,
            }
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: swigfiles
          path: build/py
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel
          python -m pip install -r requirements_dev.txt
      - if: startsWith(matrix.config.os, 'macos')
        run: |
          brew install llvm libomp
          export PATH="$(brew --prefix llvm)/bin:$PATH"
      - run: make py-build
        shell: bash
        env:
          CXX: ${{ matrix.config.compiler }}
          CXXFLAGS: ${{ matrix.config.cxxflags }}
          LDFLAGS: ${{ matrix.config.ldflags }}
      - run: make py-local-install
        shell: bash
      - run: make py-test
        shell: bash
      - run: make pypi-dist
        shell: bash
      - uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: package-${{ matrix.config.name }}-${{ matrix.python-version }}
          path: build/py/

  publish:
    needs: build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - run: |
          mkdir -p build/py/dist
          for d in package-macos-*; do
            [ -d "$d" ] && mv "$d" build/py/ || true
          done
          for p in package-*/dist/*.whl; do
            [ -f "$p" ] && cp "$p" build/py/dist/ || true
          done
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      # npm ci to get prettier
      - run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements_dev.txt
          npm ci
      - run: make pypi-publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      - run: make py-doc
      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          add: "docs"
          message: "docs(python): Update Python docs"
