name: Build Python package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: |
          sudo apt update
          sudo apt-get install -y swig
          python -m pip install --upgrade pip
          python -m pip install -r requirements_dev.txt
      - run: make python
      - run: make py-local-install
      - run: make py-test
