name: Release

on:
  push:
    tags:
      - "v*.*.*"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release:
    name: ${{ matrix.config.os }}${{ matrix.target.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - {
              name: windows,
              os: windows-2025,
              artifact: "infomap-win",
              binary: Infomap.exe,
              cxxflags: -static,
              ldflags: -static,
              compiler: g++,
            }
          - {
              name: ubuntu,
              os: ubuntu-24.04,
              artifact: "infomap-ubuntu",
              binary: Infomap,
              cxxflags: "",
              ldflags: "",
              compiler: g++,
            }
          - {
              name: macos,
              os: macos-15,
              artifact: "infomap-mac",
              binary: Infomap,
              cxxflags: "",
              ldflags: "",
              compiler: clang++,
            }
        target:
          - { name: "", target: "" }
          - { name: "-noomp", target: "noomp" }

    steps:
      - uses: actions/checkout@v4

      #- if: startsWith(matrix.config.os, 'ubuntu')
      #  run: |
      #    sudo apt update
      #    sudo apt install libomp-dev

      - if: startsWith(matrix.config.os, 'macos')
        run: |
          brew install p7zip llvm libomp
          BREW_PREFIX="$(brew --prefix)"
          echo "PATH=$BREW_PREFIX/opt/llvm/bin:${PATH}" >> $GITHUB_ENV
          echo "CPPFLAGS=-I$BREW_PREFIX/opt/llvm/include -I$BREW_PREFIX/opt/libomp/include" >> $GITHUB_ENV
          echo "LDFLAGS=-L$BREW_PREFIX/opt/llvm/lib -L$BREW_PREFIX/opt/libomp/lib" >> $GITHUB_ENV
          echo "CXX=$BREW_PREFIX/opt/llvm/bin/clang++" >> $GITHUB_ENV

      - run: make -j ${{ matrix.target.target }}
        shell: bash
        env:
          CXX: ${{ matrix.config.compiler }}
          CXXFLAGS: ${{ matrix.config.cxxflags }} ${{ env.CPPFLAGS }}
          LDFLAGS: ${{ matrix.config.ldflags }} ${{ env.LDFLAGS }}

      - run: ./Infomap --version
        shell: bash

      - run: 7z a ${{ matrix.config.artifact }}${{ matrix.target.name }}.zip ${{ matrix.config.binary }}
        shell: bash

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          path: ./${{ matrix.config.binary }}
          name: ${{ matrix.config.artifact }}${{ matrix.target.name }}

      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.config.artifact }}${{ matrix.target.name }}.zip
